@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing : border-box;
}

body{
    font-family : 'Poppins', sans-serif;
    background-color :#ebbe9b;
    background-image :linear-gradient(315deg, #ebbe9b 0%, #e7a977 74%);   
    display : flex;
    flex-direction: column;
    justify-content: center;
}
body h1{
    width : 200px;
    height : 80px;
}

body .form{
    align-items : center;
    display : flex;
}

main .avatar_{
    width : 150px;
    height : 150px;
    align-items : center;
}

main .avatar_ img{
    width : 150px;
    height : 150px;
}

main{
    width : 800px;
    height : 500px;
    display : flex;
    flex-direction: column;

}







